
.menuItemCard {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  position: relative; 
  transform: scale(1);

  -webkit-tap-highlight-color: transparent;
  outline: none; 
}

.menuItemCard:last-child {
  border-bottom: none;
}

.menuItemCard:hover,
.menuItemCard:focus-within {
  background-color: rgba(52, 78, 156, 0.05); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  outline: none; 
}


@media (prefers-color-scheme: dark) {
  .menuItemCard:hover,
  .menuItemCard:focus-within {
    background-color: rgba(92, 124, 205, 0.1); 
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.08); 
  }
}


.menuItemCard:active {
  transform: scale(1.01);
  background-color: rgba(52, 78, 156, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

/* Modo oscuro para el efecto :active */
@media (prefers-color-scheme: dark) {
  .menuItemCard:active {
    background-color: rgba(92, 124, 205, 0.15);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  }
}


.itemImage,
.itemImagePlaceholder {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
  overflow: hidden;
  animation: fadeInImage 0.5s ease-out;
  position: relative;
  
}

.itemImage {
  object-fit: cover;
}

.itemImagePlaceholder {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--color-texto-secundario);
}

@media (prefers-color-scheme: dark) {
  .itemImagePlaceholder {
    background-color: #444;
    border-color: var(--color-texto-secundario);
  }
}

.placeholderIcon {
  font-size: 2.8em;
  color: var(--color-texto-secundario);
  opacity: 0.7;
}


@media (min-width: 768px) {
  .itemImage,
  .itemImagePlaceholder {
    width: 75px;
    height: 75px;
    margin-right: 20px;
  }
  .itemName {
    font-size: 1.15em;
  }
  .itemDescription {
    font-size: 0.9em;
  }
  .itemPrice {
    font-size: 1.15em;
  }

  .menuItemCard {
      padding: 12px 15px;
  }
}